@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bcColor:#15191C;
  --main-color:#FFA500;
  --main-textColor:#333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family : 'Pretendard',sans-serif;
}